

td { 
border-right: 1px solid #C1DAD7; 
border-bottom: 1px solid #C1DAD7; 
font-size:11px; 
/*padding: 6px 6px 6px 12px;*/ 
color: #4f6b72;
white-space:nowrap; 
} 
/*---------for IE 5.x bug*/ 
html>body td{ font-size:11px;} 
body,td,th { 
font-family: ו, Arial; 
font-size: 12px; 
}


