.defaultTable {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
.defaultTable TD {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; HEIGHT: 19px
}
.defaultTable TH {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #f7f7f7
}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 12px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #7a7a7a; SCROLLBAR-SHADOW-COLOR: #7a7a7a; COLOR: #08204c; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #0070bc; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
TD {
	FONT-SIZE: 12px
}
A {
	FONT-SIZE: 12px; COLOR: #08204c; TEXT-DECORATION: none
}
A:active {
	COLOR: #006699; TEXT-DECORATION: none
}
A:unknown {
	COLOR: black; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 12px; COLOR: #08204c; TEXT-DECORATION: none
}
.table_without_detail_lines {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
.table_without_detail_lines TD {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: collapse; HEIGHT: 20px
}
.table_without_detail_lines TH {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: collapse; HEIGHT: 26px
}
.table_without_detail_lines THEAD TD {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 6px; BORDER-LEFT: 1px solid; COLOR: #3b6295; PADDING-TOP: 6px; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: collapse; HEIGHT: 28px; TEXT-ALIGN: center
}
.table {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 6px; BORDER-LEFT: 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: collapse; HEIGHT: 28px; TEXT-ALIGN: center
}
.blueButtonCss {
	BORDER-RIGHT: #93bee2 1px solid; BORDER-TOP: #93bee2 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #93bee2 1px solid; WIDTH: 80px; CURSOR: hand; COLOR: #003366; BORDER-BOTTOM: #93bee2 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"; BACKGROUND-COLOR: #e8f4ff
}
.grayinput {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #e8f4ff; BORDER-LEFT: #c8e4ff 1px solid; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.txtbox {
	BORDER-TOP-WIDTH: thin; BORDER-LEFT-WIDTH: thin; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: white; BORDER-BOTTOM-WIDTH: thin; BORDER-BOTTOM-COLOR: white; WIDTH: 120px; COLOR: black; BORDER-TOP-COLOR: white; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: thin; FONT-VARIANT: normal; BORDER-RIGHT-COLOR: white
}
.custominput {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #e8f4ff; BORDER-LEFT: #c8e4ff 1px solid; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.dropDownList {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #e8f4ff; BORDER-LEFT: #c8e4ff 1px solid; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.pageStyle TD {
	BORDER-RIGHT: #cacaca 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cacaca 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cacaca 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cacaca 1px solid; HEIGHT: 12px
}
.n1 {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #e8f4ff; BORDER-LEFT: #c8e4ff 1px solid; WIDTH: 52px; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.n2 {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #e8f4ff; BORDER-LEFT: #c8e4ff 1px solid; WIDTH: 46px; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.rn1 {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: whitesmoke; BORDER-LEFT: #c8e4ff 1px solid; WIDTH: 52px; CURSOR: hand; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.n3 {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: whitesmoke; BORDER-LEFT: #c8e4ff 1px solid; WIDTH: 62px; CURSOR: hand; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.ashInput {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: whitesmoke; BORDER-LEFT: #c8e4ff 1px solid; WIDTH: 120px; CURSOR: hand; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.ashReadInput {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FONT-SIZE: 9pt; BACKGROUND: whitesmoke; BORDER-LEFT: #ccc 1px solid; WIDTH: 120px; CURSOR: default; COLOR: #0055aa; BORDER-BOTTOM: #ccc 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.leftDiv {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 560px
}
.leftDiv TABLE {
	
}
.customDiv0 {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 350px
}
.customDiv1 {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 380px
}
.customDiv10 {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 480px
}
.customDiv11 {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 550px
}
.customDiv0 TABLE {
	FLOAT: left
}
.customDiv0 TD {
	HEIGHT: 20px
}
.customDiv {
	CLEAR: both; OVERFLOW: auto; HEIGHT: 480px
}
.customDiv TABLE {
	FLOAT: left
}
.customDiv TD {
	HEIGHT: 20px
}
.customDiv_1 {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 455px
}
.customDiv_1 TABLE {
	FLOAT: left
}
.customDiv_1 TD {
	HEIGHT: 20px
}
.customDiv_2 {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 472px
}
.customDiv_2 TABLE {
	FLOAT: left
}
.customDiv_2 TD {
	HEIGHT: 20px
}
.customDiv1 {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 450px
}
.customDiv1 TABLE {
	
}
.customDiv1 TD {
	HEIGHT: 20px
}
.customDiv2 {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 490px
}
.customDiv2 TABLE {
	
}
.customDiv2 TD {
	HEIGHT: 20px
}
.Freezing {
	TABLE-LAYOUT: fixed; Z-INDEX: 10; POSITION: relative; ; TOP: expression(this.offsetParent.scrollTop)
}
.Freezing TH {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.NoData {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 15px; VERTICAL-ALIGN: text-bottom; BORDER-LEFT: #cccccc 1px solid; COLOR: red; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; HEIGHT: 20px; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center
}
.autoShow {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; Z-INDEX: 2; BACKGROUND: #e8f4ff; BORDER-LEFT: #c8e4ff 1px solid; WIDTH: 98px; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"; POSITION: absolute
}
.hiddeDDl {
	DISPLAY: none
}
.gzpDiv {
	CLEAR: both; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 500px
}
.tableHeadText {
	FILTER: Glow(Color=#3B6295, Strength=1); FONT: 16px "黑体"; LETTER-SPACING: 2px
}
.point {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #cccccc 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Webdings; POSITION: absolute
}
.point2 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BACKGROUND: #000000; BORDER-LEFT: #cccccc 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Webdings; POSITION: absolute
}
.defaultTable2 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
.defaultTable2 TD {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; HEIGHT: 19px
}
.defaultTable2 TH {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #f7f7f7
}
.a1 {
	BORDER-RIGHT: #bad2ee 1px solid; BORDER-TOP: #bad2ee 0px solid; DISPLAY: block; BACKGROUND: #ecf6ff; OVERFLOW: hidden; BORDER-LEFT: #bad2ee 1px solid; BORDER-BOTTOM: #bad2ee 1px solid; HEIGHT: 120px
}
.a2 {
	FLOAT: left
}
.a3 {
	BORDER-RIGHT: #bad2ee 1px solid; BORDER-TOP: #bad2ee 1px solid; BORDER-LEFT: #bad2ee 1px solid; CURSOR: pointer; BORDER-BOTTOM: #bad2ee 1px solid; HEIGHT: 40px; TEXT-ALIGN: left
}
.a4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.a4 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(../Images/open-o.png); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 24px; LINE-HEIGHT: 24px; PADDING-TOP: 0px
}
.a5 {
	MARGIN: 8px 5px 0px 10px
}
.blueButtonCss {
	BORDER-RIGHT: #93bee2 1px solid; BORDER-TOP: #93bee2 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #93bee2 1px solid; WIDTH: 80px; CURSOR: hand; COLOR: #003366; BORDER-BOTTOM: #93bee2 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"; BACKGROUND-COLOR: #e8f4ff
}
.a10 {
	FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../Images/middle1.gif); BACKGROUND-REPEAT: repeat-x; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.a100 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"; BACKGROUND-COLOR: #9cc3ec
}
.a11 {
	BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #88b0e4; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #88b0e4; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #88b0e4
}
