body{
		font-size: 12px;
		color: #3E3E3E;
		background-color: #FFFFFF;
		margin-left: 20; margin-top: 10;
		
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;

		
		scrollbar-face-color: #F0F0F0;
		scrollbar-highlight-color: #ffffff;
		scrollbar-shadow-color: #808080;
		scrollbar-3dlight-color: #808080;
		scrollbar-arrow-color: #808080;
		scrollbar-track-color: #F0F0F0;
		scrollbar-darkshadow-color: #F0F0F0
}

A
{
	color: #08204C; font-size: 12px; text-decoration: none
}
A:ACTIVE {

	color : #006699;	
	text-decoration: none;
}
A:FOCUS
{
	color: black;
	text-decoration: none;
}
A:HOVER
{
	color: #FF0000; font-size: 12px; text-decoration: underline
}
A:LINK {
	color: #08204C; font-size: 12px; text-decoration: none
}


td{
	font-size:12px;
	color: #575757
}
.grayinput{
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.logininput{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	height: 15px;
	width: 120px;
	background-image: url(../images/logoninput.jpg);
	background-repeat: repeat;
	border-collapse: 0;
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.select {
	width:80px;
	font-family: "Tahoma", "ו";
	font-size: 9pt;
	color: #0066cc;
	border: 1px #c8e4ff solid;
	background-color:  #e8f4ff;
	font-style: normal;
}
.blueButtonCss {
    font-family: "Tahoma", "ו";
    font-size: 9pt; color: #003366;
    border: 0px #93bee2 solid;
    BORDER-BOTTOM: #93bee2 1px solid; 
    BORDER-LEFT: #93bee2 1px solid; 
    BORDER-RIGHT: #93bee2 1px solid; 
    BORDER-TOP: #93bee2 1px solid;
    background-color: #ffffff;
    CURSOR: hand;
    font-style: normal ;
}
.titlefont {
	color:#FFFFFF;
	font-size:14px
}
#border {
background-color:#FFFFFF;
border-top: 1px #666666 solid;
border-left: 1px #666666 solid;
}
#border td {
border-right: 1px #666666 solid;
border-bottom: 1px #666666 solid;
}
.readonly {
	font-family: "Tahoma", "ו";
	font-size: 9pt;
	color: #0066cc;
}
.input_text		{
	color: #404040;
	background-color: #FFFFFF;
	font-size: 9pt;
	display: inline;
}

A.top
{
	color: #ffffff; font-size: 12px; text-decoration: none
}
A.top:ACTIVE {

	color : ffffff;	
	text-decoration: none;
}
A.top:FOCUS
{
	color: ffffff;
	text-decoration: none;
}
A.top:HOVER
{
	color: #ffffff; font-size: 12px; text-decoration: underline
}
A.top:LINK {
	color: #ffffff; font-size: 12px; text-decoration: none
}

A.main:link { color: #08204C; font-size: 12px; text-decoration: none }
A.main:visited { color: #08204C; font-size: 12px; text-decoration: none }
A.main:hover { color: #FF0000; font-size: 12px; text-decoration: underline }



