BODY {
	FONT-SIZE: 14px; COLOR: green; FONT-FAMILY: 宋体
}
.tbl {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: green; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: green; BORDER-TOP-COLOR: green; FONT-FAMILY: 宋体; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: green
}
TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-LEFT-COLOR: green; BORDER-BOTTOM-COLOR: green; BORDER-TOP-COLOR: green; BORDER-RIGHT-COLOR: green
}
.blueButtonCss {
	BORDER-RIGHT: #93bee2 1px solid; BORDER-TOP: #93bee2 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #93bee2 1px solid; WIDTH: 80px; CURSOR: hand; COLOR: #003366; BORDER-BOTTOM: #93bee2 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"; BACKGROUND-COLOR: #e8f4ff
}
.LableUnderCss {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-LEFT-COLOR: green; COLOR: black; BORDER-TOP-COLOR: green; BORDER-BOTTOM: green 1px groove; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: green
}
.TextUnderCss {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: green; BORDER-RIGHT-WIDTH: 0px
}
.TextUnderCss2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: green; BORDER-RIGHT-WIDTH: 0px
}
.readonlyinput {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BACKGROUND: #dcdcdc; BORDER-LEFT: #c0c0c0 1px solid; COLOR: #0066cc; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.dropDownList {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #e8f4ff; BORDER-LEFT: #c8e4ff 1px solid; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
