BODY {
	SCROLLBAR-FACE-COLOR: #dfedf2; FONT-SIZE: 14px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #f9f8f5; SCROLLBAR-3DLIGHT-COLOR: #b8e1f9; SCROLLBAR-ARROW-COLOR: #606d79; SCROLLBAR-TRACK-COLOR: #f9f8f5; FONT-FAMILY: 宋体; SCROLLBAR-DARKSHADOW-COLOR: #b8e1f9
}
.tbl {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: black; BORDER-TOP-COLOR: black; LINE-HEIGHT: 25px; FONT-FAMILY: 宋体; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: black
}
TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-COLOR: black; BORDER-TOP-COLOR: black; BORDER-RIGHT-COLOR: black
}
.td1 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.td2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: black; BORDER-RIGHT-WIDTH: 0px
}
.td3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: black
}
.LableUnderCss {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-LEFT-COLOR: black; COLOR: black; BORDER-TOP-COLOR: black; BORDER-BOTTOM: black 1px groove; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: black
}
.TextUnderCss {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: black; BORDER-RIGHT-WIDTH: 0px
}
.TextUnderCss2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: black; BORDER-RIGHT-WIDTH: 0px
}
.grayinput1 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: black; BORDER-RIGHT-WIDTH: 0px
}
.blueButtonCss {
	BORDER-RIGHT: #93bee2 1px solid; BORDER-TOP: #93bee2 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #93bee2 1px solid; WIDTH: 80px; CURSOR: hand; COLOR: #003366; BORDER-BOTTOM: #93bee2 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"; BACKGROUND-COLOR: #e8f4ff
}
.dropDownList {
	BORDER-RIGHT: #c8e4ff 1px solid; BORDER-TOP: #c8e4ff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #e8f4ff; BORDER-LEFT: #c8e4ff 1px solid; COLOR: #0066cc; BORDER-BOTTOM: #c8e4ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Tahoma" , "宋体"
}
.sdiv {
	TABLE-LAYOUT: fixed; OVERFLOW: scroll; WIDTH: 100%; HEIGHT: 550px
}
